<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>vue-todolist</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 m-auto tasks-sheet">
                    <h2>lista di cose da fare</h2>
                    <ul>
                        <li class="d-flex justify-content-between mx-5 mt-4 border-bottom" v-for="(task,index) in tasks">
                            <input v-if="tasks[index].editTask" type="text" v-model="task.text" @keyup.enter="editTaskFunction(index)">
                            <span v-else class="text-uppercase" :class="tasks[index].done ? 'text-done' : 'text-undone '" @dblclick="editTaskFunction(index)">{{tasks[index].text}}</span>
                            <div>
                                <button class="btn btn-success me-3" @click="taskDone(index)" :class="tasks[index].done ? 'done' : 'to-do'" ><i :class="tasks[index].done ? 'fas fa-check' : 'fas fa-x'"></i></button>
                                <button class="me-3 
                                fas fa-marker btn" @click="editTaskFunction(index)"></button>
                                <button @click="deleteTask(index)" class="btn fas fa-trash"></button>
                            </div>
                        </li>
                    </ul>
                    <div class="tasks-bottom-section">
                        <input @keyup.enter="addTask" type="text" v-model="newTask">
                        <button @click="addTask" class="btn fas fa-plus ms-3"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/script.js"></script>
</html>